<detalle-producto *ngIf="productoSeleccionado" [producto]="productoSeleccionado"></detalle-producto>

<div class="card border-primary m-3 gradient-custom">
    <div class="card-header">ventas</div>
    <div class="card-body">
        <h2 class="card-title">Lista de Ventas</h2>
        <button class="btn btn-primary" [routerLink]="'/productos'">Ir a productos</button>
        <br>
        <br>
        <ng-template #noTable>
            <div class="alert alert-info">
                No hay registros
            </div>
        </ng-template>
        <table class="table table-bordered table-striped" *ngIf="ventas.length>0 else noTable">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Precio</th>
                    <th>Productos</th>
                </tr>
            </thead>
            <tbody>
                <!---->
                <tr *ngFor="let venta of ventas">
                    <td>{{venta.fechaVenta}}</td>
                    <td>{{venta.precioTotal}}</td>
                    <td>
                        <p *ngFor="let producto of venta.productos">
                             <a>{{producto.nombre}} </a>
                        </p>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>