<detalle-producto *ngIf="productoSeleccionado" [producto]="productoSeleccionado"></detalle-producto>

<div class="card border-primary m-3 gradient-custom">
    <div class="card-header">ventas</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Lista de Ventas</h5>
        <ng-template #noTable>
            <div class="alert alert-info">
                No hay registros
            </div>
        </ng-template>
        <table class="table table-bordered table-striped" *ngIf="ventas.length>0 else noTable">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Precio</th>
                    <th>Productos</th>
                </tr>
            </thead>
            <tbody>
                <!---->
                <tr *ngFor="let venta of ventas">
                    <td>{{venta.fechaVenta}}</td>
                    <td>{{venta.precioTotal}}</td>
                    <td>
                        <a *ngFor="let producto of venta.productos">
                             {{producto.nombre}} 
                            </a>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>