<div *ngIf="modalService.modal" class="animacion abrir-modal fadeIn">
    <div class="modal" tabindex="-1" style="display:block">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{titulo}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="cerrarModal()"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                <ul *ngIf="producto" class="list-group text-dark mb-3">
                                    <li class="list-group-item active">{{producto.nombre}}</li>
                                    <li class="list-group-item">{{producto.descripcion}}</li>
                                    <li class="list-group-item">{{producto.precio}}€</li>
                                    <li class="list-group-item">{{producto.vendedor.username}}</li>
                                </ul>
                                <!-- (click)="subirFoto()" -->
                                <div class="input-group mb-3" *ngIf="login.isLoggedIn()&&producto.vendedor.username==login.getUser().username">
                                    <input type="file" class="form-control" id="inputGroupFile04"
                                        aria-describedby="inputGroupFileAddon04" aria-label="Upload"
                                        (change)="seleccionarFoto($event)">
                                    <button [disabled]="!fotoSeleccionada" (click)="subirFoto()"
                                        class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir
                                        Foto</button>
                                </div>
                                <div *ngIf="progreso>0" class="progress" role="progressbar"
                                    aria-label="Default striped example" attr.aria-valuenow="{{progreso}}"
                                    aria-valuemin="0" aria-valuemax="100">

                                    <div class="progress-bar progress-bar-striped" [ngStyle]="{width:progreso+'%'}">
                                        {{progreso}}%</div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <img *ngIf="producto?.imagen" src="http://localhost:8080/uploads/{{producto.imagen}}"
                                    alt="{{producto.imagen}}" class="img-thumbnail rounded">
                            </div>
                            <div *ngIf="login.isLoggedIn()&&producto.vendedor.username!=login.getUser().username">
                                <input type="number" min="1" [max]="producto.cantidad" [(ngModel)]="cantidad">
                                <button class="btn btn-primary"
                                   
                                    (click)="addCarrito()">Añadir carrito</button>
                                    
                            </div>
                            <div *ngIf="login.isLoggedIn()&&producto.vendedor.username==login.getUser().username"> 
                                <button class="btn btn-primary"  [routerLink]="['/productos/form',producto.id]">Editar</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="cerrarModal()">Close</button><!--(click)="cerrarModal()"-->
                </div>
            </div>
        </div>
    </div>
</div>