<body class="gradient-custom">
    <br>
    <div class="container text-center p-3">
        <h1 class="mb-5"><strong>Bienvenido a la Tienda Online de E-storeMED</strong></h1>
        <h3 class="mb-5">Tu tienda ideal para comprar cualquier juego que desees</h3>
        <button class="btn btn-primary" [routerLink]="'/login'">Logueate para empezar a explorar!!</button>
        <br>
        <br>
        <br>
        <img class="mx-auto d-block" src="http://localhost:8080/uploads/homeImage.jpg!w700wp" >
       
    </div>
<br>
</body>